@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

@media all and (min-width:1400px){
    body{
        background-color: #f1f1f1;
    }
    .navbar{
        width: 80vw;
        height: 10vh;
        padding: 0 10vw;
        position: fixed;
        z-index: 5;
        background-color: #34495e;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-list{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link{
        color: #fff;
        font-weight: 500;
    }
    .logo{
        font-size: 3vh;
        font-weight: 500;
    }
    .herobanner{
        width: 80vw;
        height: 20vh;
        padding: 15vh 10vw 0 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        font-size: 5vh;
        font-weight: 100;
    }
    .controls{
        width: 80vw;
        height: 5vh;
        padding: 0 10vw 0 10vw;
    }
    .cta{
        padding: 0.5vw 1vw;
        color: white;
        border: none;
        border-radius: 10px;
        background-color: #27ae60;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
        font-weight: 600;
        font-size: 1.8vh;
    }
    .cta:hover{
        box-shadow: none;
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
    .article-container{
        width: 80vw;
        height: 50vh;
        margin-top: 5vh;
        padding: 0 10vw;
        display: flex;
        flex-wrap: wrap;
    }
    .post-card{
        width: 22vw;
        height: 28vh;
        margin: 0.5vh 0.5vw;
        background-color: white;
    }
    .card-img{
        width: 100%;
        height: 70%;
    }
    .card-container{
        width: 90%;
        height: 25%;
        padding: 1.25% 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .card-author-view{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-title-date{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-title{
        font-size: 2.5vh;
        font-weight: 700;
    }
    .card-author{
        font-size: 1.5vh;
        font-style: italic;
    }
    .card-cta{
        padding: 0.675vh 1vw;
        background-color: #3498db;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08);
    }
    .card-cta:hover{
        cursor: pointer;
        box-shadow: none;
        transition: ease-in-out 0.4s;
    }
}