@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

@media all and (min-width:1400px){
    .navbar{
        width: 80vw;
        height: 10vh;
        padding: 0 10vw;
        position: fixed;
        z-index: 5;
        background-color: #34495e;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-list{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-link{
        color: #fff;
        font-weight: 500;
    }
    .logo{
        font-size: 3vh;
        font-weight: 500;
    }
    .herobanner{
        width: 80vw;
        height: 20vh;
        padding: 15vh 10vw 0 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        font-size: 5vh;
        font-weight: 100;
    }
    .controls{
        width: 80vw;
        height: 5vh;
        padding: 0 10vw 0 10vw;
    }
    .cta{
        padding: 0.5vw 1vw;
        color: white;
        border: none;
        border-radius: 10px;
        background-color: #27ae60;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.12);
        font-weight: 600;
        font-size: 1.8vh;
    }
    .cta:hover{
        box-shadow: none;
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }
    .article-container{
        width: 80vw;
        height: 50vh;
        margin-top: 5vh;
        padding: 0 10vw;
        display: flex;
        flex-wrap: wrap;
    }
}